/*
################
               General
################
*/

body {
    font-size: 1em;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

section {
    padding-top: 65px;
    padding-bottom: 65px;

}

/*
################
               start Header
################
*/

header {
    background-image: linear-gradient(rgba(161, 0, 255, 0.35), rgba(161, 0, 255, 0.41)), url(../img/bg-tatoo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 910px;
    padding-top: 0px;

}

/*
################
               Start Media Queries Header 
################
*/

@media (min-width: 768px) {
    header {
        padding-top: 70px;
       
    }
}

@media (max-width: 768px) {
    header {
        background-image: linear-gradient(rgba(161, 0, 255, 0.35), rgba(161, 0, 255, 0.41)), url(../img/bg-tatoo-mobile.jpg); 
    }
}



/*
################
               Start Navigation 
################
*/

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding-bottom: 1em;
    transition: border-color 2s ease-out;
}

.nav-item {
    padding: 0 1rem !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #28c8c6;
    transition: border-color 2s ease-out;
    color: #fff;

}

.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}

.navbar {
    width: 100%;
    background: none !important;
}

/*
################
               Start Style Button Navigation 
################
*/

.button {
    background-color: #a100ff;
    padding: 10px 8px;
    border-radius: 5px;
    border-bottom: none !important;

}

.button:focus {
    box-shadow: 0 0 0 3px rgba(161, 0, 255, 0.53);
}

/* style icon arrow */

.fa-arrow-circle-right {
    font-weight: 100;
    margin-left: 10px;
}

/*
################
               Start Media Queries Navigation 
################
*/

@media (max-width: 768px) {
    .navbar {
        background: rgba(161, 0, 255, 0.53) !important;
        background: rgba(0, 0, 0, 0.35) !important;

    }
    .navbar-light .navbar-nav .nav-link:hover {
        border-bottom: none;

    }
    .navbar-light .navbar-nav .nav-link {
        border-bottom: none;

    }

    .nav-item {
        padding: 0;
    }
}

.navbar-toggler {
    cursor: pointer;
    outline: 0;
}


/*
################
               Start Hero Section 
################
*/

.hero-content {
    padding-top: 70px;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
}


/*
################
               Start Desing-Tattoo 
################
*/

.desing-tattoo {
    background-image: url(../img/bg-desing-style.png);
    background-repeat: repeat;
}


.desing-tattoo h2,
.features h2,
.guidelines h2 {
    color: #333b42;
    font-weight: 700;
    margin-bottom: 50px;
}

.desing-tattoo p,
.features p,
.guidelines p {
    color: #74797e;
    font-weight: 400;
    margin-bottom: 50px
}

.para-carousel {
    color: #d9cadc !important;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.39);
}
.img-carousel {
filter: grayscale(75%);
}

/*
################
               Start Strengh and Honor
################
*/

.features img,
h3 {
    margin-bottom: 40px;
}

.features p {
    color: #74797e;
    line-height: 1.8;
}

/* Section guidelines style */

.guidelines {
    background-color: #f6f9fa;
    /*    margin-bottom: 50px;*/
    padding-top: 65px;
    padding-bottom: 60px;

}



/*
################
               Start SGallery Tattoo Shop
################
*/


.spacer {
    /*    padding:  70px 0px;*/
    margin-bottom: 30px;


}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #28c8c6;
    font-weight: 400;
}

.nav-tabs .nav-link {
    color: #28c8c6;
}

.nav-tabs {
    border-bottom: none;
    justify-content: center;
    margin-bottom: 30px;
}

.nav-item {
    padding: 0;
}

.nav-tabs .nav-item {

    margin-bottom: 10px;
}

.nav-tabs .nav-link:hover {
    border: none !important;
}

/* media queries nav-pill*/

@media (max-width: 768px) {
    .nav-tabs {
        margin-top: 30px;
    }
}

/* Section guidelines style */

.hobbit {
  background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(22, 22, 23, 0.96)), url(../img/stockholm.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*    background-attachment: fixed;*/
    height: 500px;
}

.hobbit-text {
    line-height: 1.8;
}
